{{>header_main archivo="styles/styles_Informe.css" title="Informe Final de la Leche"}}
     <form action="/informe_Leche" method="POST">
        <h2>Informe Leche</h2>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Periodo:</label>
            </div>
            <div class="col-auto" id="textBox">
                <select class="form-select form-select-sm" name="codigoPeriodo" >
                    <option selected>Seleccione</option>
                    {{#each  this}}
                        {{#if (isdefined Codigo_per)}}
                        <option value = "{{Codigo_per}}"> {{FechaInicio_per}}  -  {{FechaFin_per}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary btn-sm col-auto">Consultar</button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre del Distribuidor</th>
                    <th scope="col">Total de Litros</th>
                    <th scope="col">Precio de la Leche</th>
                    <th scope="col">Total a cobrar</th>
                </tr>
            </thead>
            <tbody>
                {{#each  this}}
                    <tr>
                        {{#if (isdefined Nombre_dis)}}
                            <th scope="row">{{Nombre_dis}}</th>
                            <td>{{Total_litros}}</td>
                            <td>{{PrecioLeche_per}}</td>
                            <td>{{Total_dolares}}</td>
                        {{/if}}
                    </tr>
                        
                {{/each}}
            </tbody>
          </table>      
    </form>

    {{>footer_main}}