{{>header_main archivo="styles/styles_RegistroMain.css" title="Registro de leche Diario"}}
<form class="formulario" action="/registro_LecheDiario" method="POST">
        <h2>Registro Diario de Leche</h2>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Periodo:</label>
            </div>
            <div class="col-auto" id="textBox">
                <select class="form-select form-select-sm" name="periodo" >
                    <option selected>Seleccione</option>
                    {{#each  this}}
                        {{#if (isdefined Codigo_per)}}
                        <option value = "{{Codigo_per}}"> {{FechaInicio_per}}  - {{FechaFin_per}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" id="fecha">Fecha:</label>
            </div>
            <div class="col-auto" >
                <input type="date" name="fecha" class="form-control" >
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Distribuidor:</label>
            </div>
            <div class="col-auto" id="textBox">
                <select class="form-select form-select-sm" name="distribuidor" >
                    <option selected>Seleccione</option>
                    {{#each  this}}
                        {{#if (isdefined Codigo_dis)}}
                        <option value = "{{Codigo_dis}}"> {{Nombre_dis}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="form-label">Total de Litros:</label>
            </div>
            <div class="col-auto" id="textBox">
                <input type="number" name="litros" step="0.01" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary btn-sm col-auto">Registrar</button>
        </p>
    </form>
{{>footer_main}}